.body{
  background-color: MediumSeaGreen;
}

.title{
  text-align:   center;
  font-family: cursive;
  background-color: MediumSeaGreen;
  color: MintCream;
  border: double 10px MintCream;

}

#speechContainer{
  border: double 10px MintCream;
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
  position: absolute;
  height:600px;
  width: 98%;

}
.voice-action{
  position:absolute;
  left: 45%;
  background-color:SlateBlue;
  color: MintCream;
  font-weight: bold;
  border-radius: 20%;
  border: 10px MintCream;
  padding:25px, 30px;
  transition-duration: 0.4s;
}

#record_button{
   position: absolute;
   left: 45%;
   width: 120px;
   height: 25px;

   background-color:SlateBlue;
   color: MintCream;
   font-weight: bold;
   border-radius: 20%;
   border: 10px MintCream;
   padding:25px, 30px;
   transition-duration: 0.4s;
 }
#record_button:hover{
  background-color: RoyalBlue;

}
#record_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.inputs{
  color: MintCream;
  text-transform: full-width;
  font-size: 30px;
}
