nav .nav-wrapper{
  background-color: rgba(185, 18, 40, 1);
}

.waves-effect {
  margin: auto;
}
.profileMobile{
    height: 150px;
    border-radius: 50%;
  }
.backgroundImg{
    width: 100%
  }
.bioPhone{
      line-height: 22px;
      padding-top: 10px;
      padding-bottom: 10px;
  }

.linkedin{
  height: 30px;
  width: 30px;
}

body {
  background: rgba(211, 212, 217, 1);
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

/*footer.page-footer {
  background-color: rgba(92, 97, 133, 1);
  bottom: 0;
}*/

.carousel .carousel-item {
  width:250px !important;
  height: 375px !important;
}

footer.page-footer {
  position:fixed;
  background-color: rgba(92, 97, 133, 1);
  bottom:0;
  left:0;
  width:100%;
}

@media only screen and (min-width: 601px){
  footer.page-footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
  }
  nav a.button-collapse {
    display: none;
  }

  .carousel .carousel-item {
    width:300px !important;
    height: 375px !important;
  }

  .parallax {
    height: 100%;
    width: 100%;
  }

  .parallax-container {
    height:300px;
  }
  .brand-logo {
    margin-left: 25px;
  }
  .userProfile {
    margin-right: 25px;
  }
}

.indicator-item {
  visibility: hidden;
}
.categoryButton{
  margin-top: 55%
}
body{
  /*background-color: red;*/
  background-image: url('/photo/rough_paper.jpg');
  /*background-repeat: no-repeat;*/
  background-size: 100%
}
div.carousel.categories.initialized{
  background-image: url('/photo/rough_paper.jpg');
  /*background-repeat: no-repeat;*/
  background-size: 100%
}
