
    /*@media only screen and (min-width: 601px){
  nav a.button-collapse {
    display: none;

  }*/
  @media only screen and (min-width: 601px){
  #signupfooter.page-footer {
    position:relative;
    bottom:0;
    left:0;
    width:100%;
  }
}
  .dividers{
    height: 100vh;
  }
  a.dropdown-button.btn.questionDropdown{
    font-size: 12px;
  }
  .parallax{
    height: 100%;
    width: 100%;
  }
  .parallax-container{
    height:300px;
  }
  nav .nav-wrapper{
    background-color:rgba(185, 18, 40, 1);
  }
  .section{
    background: rgba(211, 212, 217, 1);
  }
  footer.page-footer{
    background: rgba(92, 97, 133, 1);
  }
  body{
    font-family: 'lato';
    font-size: 20px;
  }
  .dropdown-button{
    width: 280px;
  }
  #signup  {
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#signup .form {
  margin: 0 auto;
}
input#email.validate{
  margin-left: 25px
}
input#password.validate{
  margin-left: 25px;
}
.profile{
  /*margin-left: 35px;*/
  border-radius: 50%;
  width: 100px;
  height: 100px
}
.profileMobile{
  height: 150px;
  border-radius: 50%
}
.bioPhone{
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*.user-view{
  width: 100%
}
.background{
  width: 100%
}*/
.backgroundImg{
  width: 100%
}
.linkedin{
  height: 30px;
  width: 30px;
}
a.logOut{
  font-weight: bolder;
}
.leftProfile{
  background: rgba(211, 212, 217, 1);
  height: 100%;
}
/*.rightProfile{
  /*background: rgba(236, 200, 174, 1);*/
  /*height: 100%;*/
//}
div.row.dividers{
  background-image: url('../photo/paper.jpg');
}

.collapsible-body{
  background: rgba(236, 200, 174, 1);
}
.notes{
  background-image: url('/photo/lined-paper.jpg');
  width:100%;
}
  /*$color1: rgba(185, 18, 40, 1);
$color2: rgba(211, 212, 217, 1);
$color3: rgba(221, 255, 217, 1);
$color4: rgba(236, 200, 174, 1);
$color5: rgba(92, 97, 133, 1);*/
